[2016-09-21 13:39] kamilkisiela opened #4 "ObservableCursor won't work with AsyncPipe"
Won't work:

[code]

It will but with `zone()`

[code]

[2016-10-04 12:51] emilianosantucci opened #9 "MongoObservable: IDE cannot import automatically"
Hi guys,
I like this library but the IDE don't allow me to import `MongoObservable` automatically, like this:
`import {MongoObservable} from 'meteor-rxjs';`

In the same project, other class work fine.

Any suggestions?

[2016-10-04 14:22] promentol opened #10 "Usage with Ground DB 2"
Thank you for this package!
Are there any instruction, how to use meteor-rxjs with GroundDB 2?
This will be useful for cordova apps
Or are there any other mechanism we can cache in localstorage the result from observable and load from it when there is no internet access?

[2016-10-05 13:42] roberto-naharro opened #11 "Incompatible with simple-rest package"
I have the following error trying to create a observable collection:
[code]

I thinks it's related to [simple-rest](https://atmospherejs.com/simple/rest) meteor package:

https://github.com/stubailo/meteor-rest/blob/devel/packages/rest/rest.js#L25

[2016-10-05 21:29] barbatus commented on #9
What does it mean it doesn't allow you import automatically? If you are saying that it's highlighted like there is no `MongoObservable` in `meteor-rxjs`, then make sure if it's installed. I just checked it works fine in the demo.

[2016-10-05 22:03] emilianosantucci commented on #9
@barbatus i'm your nightmare in these days :D.

The code completion of WebStorm can't show `MongoObservable` type when starting digitation as any other class but if I tape manually the import, all works fine.

I try with other classes of `meteor-rxjs` and code completion do its job.

Any idea?

[2016-10-05 22:25] barbatus commented on #9
Well, I use Sublime and there is no feature like that (I doubt it's even possible). If other classes show up, that might be because of you mentioned them somewhere else, and they were saved for the autocomplete.

[2016-10-05 22:25] #9 closed

[2016-10-05 22:33] barbatus commented on #9
Actually I was wrong. I just reloaded Sublime and it checked out one more time in the demo. So it works: when I start typing MongoObservale it shows `MongoOnservable _module_`.

[2016-10-06 09:59] emilianosantucci commented on #9
@barbatus, code completion of IDEs like WebStorm or Eclipse, load from "libraries" (node_modules or typings in this case), not by "previous mention" like Sublime.
I will check if it is only my mystic configuration error.
What is the demo you mention here? Socially App?

[2016-10-06 15:17] emilianosantucci commented on #9
Here some screenshot:

When try import automatically `MongoObservable`:
![screen shot 2016-10-06 at 16 56 54](https://cloud.githubusercontent.com/assets/13835650/19157682/65ad22f2-8be6-11e6-8efd-e43415021ba8.png)

After import manually `MongoObservable`:
![screen shot 2016-10-06 at 16 58 28](https://cloud.githubusercontent.com/assets/13835650/19157644/44eeec80-8be6-11e6-94f8-7b2170776499.png)

Whe

[2016-10-06 18:24] barbatus commented on #9
Sublime has TypeScript plugin with the autocomplete as well. I was not sure that it works in the imports particularly (i.e., when typing  MongoObservable in `import {MongoObservable} from 'meteor-rxjs'`). As to your issue, have no idea why so far; it works fine in the todo demo for me (https://github.com/Urigo/angular-meteor/tree/master/packages/angular2-meteor/examples/todos-meteor-1.3)

[2016-10-06 21:26] jalalat opened #12 "how to use it with SimpleSchema"
I was using SimpleSchema (https://github.com/aldeed/meteor-simple-schema) earlier with my Mongo.Collections. Now changing the class to extend from MongoObservable.Collection is breaking the application. I do not know how i can attach SimpleSchema with my collection. Any advice will be welcome.

[2016-10-07 22:00] ilacyero commented on #12
+1 Simple schema is amazing, I will need it to migrate to angular - meteor.

[2016-10-07 22:04] ilacyero opened #13 "How to use anonymous collection."
Anonymous collection is really helpful, I need it because I need reactivity for some data, but I don't need to save it in mongo db.
Is it possible to use it?
JIC as example of anonymous collection is the error management in discover meteor tutorial: http://es.discovermeteor.com/chapters/errors/

[2016-10-07 22:28] barbatus commented on #12
Try it as
[code]

[2016-10-08 23:56] ilacyero commented on #12
Hi @barbatus I tried but the insert or update uses the simple schema, but the bad thing, the collection  doesn't throw any error.

![image](https://cloud.githubusercontent.com/assets/1781538/19216610/23ea6bde-8d91-11e6-9422-03f6633b7672.png)

[2016-10-08 23:59] ilacyero commented on #12
As you see in the image the error is correctly passed in the callback.

[2016-10-09 11:48] barbatus commented on #12
so you'll need to use second argument of the subscribe
[code]

Or to use `catch` operator
[code]

[2016-10-09 19:40] jalalat commented on #12
it worked for me. Thanks a lot.

[2016-10-09 19:40] #12 closed

[2016-10-10 00:57] ilacyero commented on #12
Yes barbatus I know, but the code is of **https://github.com/Urigo/meteor-rxjs/blob/master/src/ObservableCollection.ts#L71**. I am working in tutorial and the insert in client side doesn't throw exception, I will check with observable.

[2016-10-10 01:00] ilacyero commented on #13
Same for simple schema this code allows an anonymous collection:
[code]

[2016-10-10 01:00] #13 closed

[2016-10-13 11:18] barbatus commented on #11
So how do you use it?

[2016-10-13 11:45] barbatus commented on #10
This package is about wrapping Mongo cursor into RxJS observables, for the sake to use its API, particularly RxJS's operators, which can be helpful in many situations. But it's not about adding any caching or any other logic to the collections.

[2016-10-13 20:10] steff1193 opened #14 "Data repeat for ever revisit of the component"
In the README you tell how to use the component i Angular2
[code]
It seems to me that data will be repeated an extra time for every revisit to this component. That is
* The first time you visit the component the data from "tasks" is shown once
* The second time you visit the component the data from "tasks" is shown twice
* ...
* The n'th time you visit the component the data from "tasks" is shown

[2016-10-13 21:24] barbatus commented on #14
What if you add `this.data.unsubscribe()` on `ngOnDestroy()`?

[2016-10-14 07:07] steff1193 commented on #14
Adding
[code]
to `DemoComponent` does not help, because `unsubscribe` is not a function on `Observable`.
[code]

[2016-10-14 10:12] roberto-naharro commented on #11
I want to create a REST API, and, at the same time, have a Mongo observable collection working with my angular2-meteor project. But it seems, at the moment you define a new mongo observable collection, it fails... I will do some test in next days and put more info and code

[2016-10-14 21:51] #14 closed

[2016-10-14 21:56] barbatus commented on #14
The reason is in that you re-use the same instance of the cursor observable (that comes from the service). I don't know whether it's good or bad, but I'd personally re-recreate new cursor each time with the component for clarity. Though it's fixed now for your case as well.

[2016-10-14 22:04] ArThoX opened #15 "Mistake in the package description ?"
[code]

So far it's
`collection.attachSchema(...); // with SimpleSchema package`

[2016-10-14 22:08] barbatus commented on #15
yes, thx

[2016-10-14 22:08] #15 closed

[2016-10-15 17:16] ArThoX opened #16 "MongoObservable.Collection's #find's #forEach not iterating on observable ?"
Let a MyItems observable collection be mapped as so:

[code]

when I try to loop on the result of a `find`

`MyItems.find().forEach(v => { console.log(v._id); });`

I get the following error in the console:

`Property '_id' does not exist on type 'MyItems[]'.`

If I try to declare v as Myitem I would get

`'(v: MyItem) => void' is not assignable to parameter of type '(value: MyItem[]) => void'.`

[2016-10-15 22:08] ArThoX commented on #16
https://github.com/Urigo/meteor-rxjs/blob/68bc3b6bff2cd6c1bd62e288d1549b87e58e5cc2/dist/ObservableCollection.d.ts#L46

`find(...): ObservableCursor<T>;`

https://github.com/Urigo/meteor-rxjs/blob/master/src/ObservableCursor.ts#L7

`export class ObservableCursor<T> extends Observable<T[]> {`

So reading the .d.ts the `[]` is potentially expected.

In the other hand, at runtime `public_2.MyItems.fin

[2016-10-16 10:49] steff1193 commented on #14
I do not know if this approach is good or bad either, but it is kinda the approach introduced in the repo from which I forked: https://github.com/bsliran/angular2-meteor-base. To me it seem like a fair idea to reuse. I general it seems like at good idea to keep subscriptions open on things you know you want all the time, even though you are not currently showing it. E.g. a facebook-ish app, it see

[2016-10-16 12:12] barbatus commented on #14
Because 'prepublish' script is not run when installed from Github. Go to `node_modules/meteor-rxjs` and run `npm run build-only`.

On who stops the observable. It stopes itself when the last subscription unsubscribes from it.
Particularly it happens when the observable is passed to AsyncPipe, so it does `let sub = this.data.subscribe(...)` on `ngOnInit` and `sub.unsubscribe()` on `ngOnDestroy`.

[2016-10-16 15:22] jalalat opened #17 "How to use this package with services and some side effects"
Hi @barbatus

Can you please suggest how it is possible to use this package within services. I tried to use it but got no results.

[code]

When i tried to call subscribeNotifications(userId) i get this.notifications undefined in my Component. I even tried to wrap the service call in MeteorObservable.autorun() and ngZone.run(); no results.

[code]

[2016-10-17 17:55] steff1193 commented on #14
Seems to solve the problem. Thanks a alot!

Any idea when you will create a release including this fix?
I was wondering why this repo does not have any tags. Dont you tag when you release?

[2016-10-17 22:23] barbatus commented on #14
i'll probably add some minor stuff and then ask Uri to release (this week likely).
We use tags but this package is too simple yet for them.

[2016-10-18 14:54] jalalat opened #18 "How to use it with pub returning one object"
How to use this package when Pub is returning only one object (one row/record) and I try to get it using say Posts.findOne(postId);

[2016-10-20 15:34] dotansimha commented on #18
Hi @jalalat ,
You can either use `collection.findOne(...)` and get the actual value directly, but it's not recommended because you won't be able to know when the collection actually change, only the specific item, and I will recommend you to use it only after the Meteor subscription is ready, example:
[code]

You can also use regular `collection.find(...)` and then the subscription of the data wil

[2016-10-20 15:34] #18 closed

[2016-10-22 16:41] roberto-naharro commented on #11
I have done some test and it seems there was an error in my code. It's working fine now. I will do more test, and in case of having any problem, I will open this thread again. Thanks!

[2016-10-22 16:41] #11 closed

[2016-10-22 22:04] #10 closed

[2016-10-24 19:44] ArThoX opened #19 "Calling #subscribe alters the observable behavior ?"
Hi

Example 1

[code]

Example 2 (1 line added at the end)

[code]

In both examples, ReactiveVars are running in an `autorun` to update the subscription and collection cursor. `this.items` is in both cases rendered with a `ngFor .. | async`.

However, when I increase the limit value `this.recordLimit.set(this.recordLimit.get() + 10)`, I notice that:
- In the first example, new items are painted b

[2016-10-24 19:47] #16 closed

[2016-10-25 17:00] dotansimha opened #20 "Cursor Observable does not uses movedTo callback"
More info at:
https://github.com/Urigo/meteor-angular2.0-socially/issues/164

[2016-10-25 17:09] dotansimha commented on #19
Please try to run:
[code]

I should turn your Observable into a multi cast Observable, and you should be able to both subscribe and iterate using ngFor.

[2016-10-25 17:42] #20 closed

[2016-10-27 21:10] jalalat opened #22 "How to use with Counts package"
I tried to use the Counts (https://github.com/percolatestudio/publish-counts) package in following way
[code]
I got the error: TypeError: notifications_collection_1.Notifications.find(...).Cursor is not a function

How i can get cursor from the MongoObservable collection?

[2016-10-28 08:08] dotansimha commented on #22
It should be:
[code]

[2016-10-29 12:03] jalalat commented on #22
It is working. Thanks.

[2016-10-29 12:03] #22 closed

[2016-11-02 18:38] dotansimha opened #23 "Multiple subscription of the same Observable does not trigger changes on init"
This is the flow:
- obs.subscribe called for the first time -> cursor initialized and callbacks for onAdded called for all objects in the Collection
- obs.subscribe called for second time-> does not have the history of the values, only if adding item to the collection, this subscription gets updated.

For example:
[code]

The current solution is to `.publishReplay(1).refCount();` the Observable -

[2016-11-02 19:07] dotansimha commented on #19
Maybe related to https://github.com/Urigo/meteor-rxjs/issues/23

[2016-11-02 19:12] dotansimha commented on #4
It actually not needed to be bind to a zone, because that's what AsyncPipe should do... weird...
I will debug it soon.
@kamilkisiela

[2016-11-02 21:22] dotansimha commented on #23
Closed in #24

[2016-11-02 21:22] #23 closed

[2016-11-02 21:22] dotansimha commented on #19
Closed in #24 . please re-open if you still having issues @ArThoX .

[2016-11-02 21:22] #19 closed

[2016-11-03 09:10] dotansimha commented on #4
@kamilkisiela I added a new examples directory with angular2 example - it works there great. Also tested with `ChangeDetectionStrategy.OnPush` and it works.

[2016-11-03 09:10] #4 closed

[2016-11-03 09:37] barbatus commented on #4
@dotansimha how does ChangeDetectionStrategy.OnPush relate to this? AsyncPipe doesn't run zone it only marks itself for check (https://github.com/angular/angular/blob/14ee75924b6ae770115f7f260d720efa8bfb576a/modules/%40angular/common/src/pipes/async_pipe.ts#L146). Vile thing here is that it might seem working for simple examples (when everything happens synchronously), but will fail eventually for

[2016-11-03 09:46] dotansimha commented on #4
Yeah you are right about OnPush. Do you have an example for a complex scenario? I tried some and it looks like it worked in all of them.

[2016-11-03 14:46] barbatus commented on #4
@dotansimha I checked and turned out that Meteor.subscribe's callback is running now always in the zone. I think the issue might be in the promises. Before Meteor promise could possibly be initialized before zone-aware promise, so it was not patched. Zone.js actually patches everything including websockets. But that peace with promises was lost from patching.

[2016-11-04 09:28] dotansimha commented on #4
@barbatus thanks, I see.
Do you have any way to reproduce? I wan't to have a look on it

[2016-11-05 05:28] promentol commented on #10
There is a package Ground DB which is adding caching logic in Mongo Collection
https://github.com/GroundMeteor/db
How can we can make this work with Meteor-rxjs? e.g. having RxJS Observables with zone operator alongside with Ground DB?
Ground DB 2 is not extending Mongo Collection, so are there any Interface for MongoObservable to pass other type of collections beside MongoCollection with same API

[2016-11-05 17:45] barbatus commented on #4
@dotansimha I am saying I missed this point before. Now `.zone` probably not needed at all, except if observables are used out of Angular 2 zone. I'll check it out one more time and probably cleanup some stuff that not needed.

[2016-11-06 20:56] cesargalindo opened #25 "Are there any plans to add Observable complete functionality?"
Are there any plans to add Observable complete functionality?

Angular HTTP returns completed observables when returned from the server.   Observables returned from meteor-rxjs are returned as not complete.    Consequently, many features of rxjs are not usable such as concat, take, etc..   It would be ideal to provide a flag "option" to return completed observables..

this.http.get('/orders')
   .

[2016-11-07 00:36] ayazhussein commented on #17
+1 , Need help too..

[2016-11-07 09:06] dotansimha commented on #25
@cesargalindo
What does the difference between `next` callback and `complete` callback in Angular 2 http module?
Because the `next` does not called on progress, but for data, and complete called right after, so it's basically the same callback (see https://github.com/angular/angular/blob/2b5c983c13c892d59f8e1bf223c291cbc3a40d8a/modules/%40angular/http/src/backends/xhr_backend.ts#L84-L86).

In this

[2016-11-07 09:20] dotansimha commented on #17
@jalalat @ayazhussein Can you explain what exactly do you need?

Start with creating the Meteor subscription to the data, and then expose the cursor result as `Observable`, and you `Component` will inject the data as service.
You can also expose events if you want to create loading/spinner (example `isSubscriptionReady`).

If you wan't to use it within services, it simply the same idea:
[code]

Am

[2016-11-07 12:30] ayazhussein commented on #17
that is what I wanted to achieve, but I can't get the correct result here
[code]

always returns a false value when I call it in my component

[code]

[2016-11-07 13:32] dotansimha commented on #17
It depends when do you call it - if you call it inside `ngOnInit`, it might not be ready yet.
Make sure that your subscription ready changes the `_isPartiesSubReady` first, and then I recommend to use this directly on the view, in order to know that something changes.
Also, you can expose `Observable` for you readiness of the data, and `next` it when the data is ready, then using it in your `Compo

[2016-11-08 16:53] jalalat commented on #17
Thanks @dotansimha working perfectly. I created a subject to pass on the data to component whenever subscription is ready.

in my service
[code]

and in my component:

[code]

[2016-11-08 17:54] #17 closed

[2016-11-11 05:33] cesargalindo commented on #25
@dotansimha

thanks for the reply.  So it appears I have to use Meteor.call to leverage the complete callback?

It appears both `next` and `complete` are called in the Angular2 http module.
-------------xhr_backend.js-------
[code]

....................jsonp_backen.js-------
[code]

Would be nice if there was an option to request some sort of complete on a Meteor.subscription each time the this.da

[2016-11-11 06:02] cesargalindo commented on #25
@dotansimha
The key difference I see from Meteor.subscribe and Angular HTTP subscribe is
Angular HTTP subscribe returns the response as one object "large array"  in  .subscribe()  whereas Meteor.subscribe is breaks the response into individual elements of the parent array.

It would be beneficial "at least to me?"  to return the response from the server as one object/array.  This way I can better

[2016-11-11 10:41] dotansimha commented on #25
@cesargalindo, the is a difference between Meteor's subscriptions and Angular 2 Http service:
- Angular 2 http executed and returns `Observable` which resolves into the data returned from the http request (calls both - next and complete callbacks). Also, this data is not reactive and does not behave as stream - once the http request is returned - the stream comes to an end - so the `complete` call

[2016-11-11 18:51] cesargalindo commented on #25
Thanks @dotansimha ,  it all much clearer now and I was able to get around my issue dealing with observables, cursors, reactivity, onReady/complete, etc..

[2016-11-11 18:52] dotansimha commented on #25
You are welcome!

[2016-11-11 18:52] #25 closed

[2016-11-14 11:38] dgroch opened #28 ""__extends is not defined" on Meteor v1.4.2.1"
I'm getting the error

`__extends is not defined`

when trying to import the MeteorObservable or MongoObservable classes on Meteor v1.4.2.1

I've searched the repo and can see the references to __extends in the class definitions, but can't see where the method is defined?

[2016-11-14 21:26] dotansimha commented on #28
@dgroch, can you provide an example? tried to run with the tests application and it seems fine.

[2016-11-14 22:37] dgroch commented on #28
@dotansimha I was actually running on `v1.4.2.2-beta.1`.  In the process of downgrading now and trying again. Seems the `__extends` are generated by Typescript? I don't need to be using typescript in my project, right?

[2016-11-14 23:47] dgroch commented on #28
The error happens in `node_modules/meteor-rxjs/dist/bundles/index.umd.js` (see image below)

![meteor-rxjs-error](https://cloud.githubusercontent.com/assets/2666385/20287421/7ef38b8a-ab20-11e6-9f08-96ba6789c7a8.jpg)

[2016-11-15 06:58] dotansimha commented on #28
@dgroch, please test with `meteor-rxjs@0.4.5`, just published it with a fix that should solve this issue and also add support for projects without typescript.

[2016-11-16 05:33] dgroch commented on #28
Great, thanks @dotansimha I can confirm this squashes the errors re `__extends`.  I've bumped into another strange thing. When I wrap an existing Mongo Collection, the wrapper returns undefined.  But when I create a new collection by passing `null` to `ObservableCollection` it seems to work fine.

Any clues?

[2016-11-16 07:30] dotansimha commented on #28
@dgroch I am closing the issue if the issue was resolved.

Regarding your question - how do you wrap the existing Collection? can you share a code example?

[2016-11-16 07:30] #28 closed

[2016-11-16 12:20] leroadrunner commented on #12
Hi @barbatus, how do you manage to add the attachSchema property in an angular-meteor collection, since simple schema don't have this property and there's no typings for the collection2 package ?
Thanks

[2016-11-16 17:18] jalalat commented on #12
Hi @leroadrunner,

Check my code here:

[code]

Let me know if you need any other info on this.

[2016-11-17 08:51] leroadrunner commented on #12
Thanks @jalalat it absolutely works.

[2016-11-18 18:17] ppoliani opened #31 "Collection.find doesn't call map when result is empty"
I'm experiencing currently an issue when trying to map over an empty result set.

For example, when I try to do:

    Collection.find(condition).map(x => ....)

the map callback will not be called if the result of find is empty.

Is that behaviour according to the design?

[2016-11-19 10:22] samy-59 commented on #17
Hi @jalalat ,

I tried to use your code, but I can't display my data. I have verified and my Minimongo is synchronised.

**My service :**

[code]

**My component :**

[code]

**My view :**
[code]

Any idea ?

[2016-11-19 12:45] jalalat commented on #17
Hi @samy-59

My this.notificationService.isSubscriptionReady() returns subject and not a boolean.

[code]

I do not have any boolean to indicate if subscription is ready. Rather i am using the Subject and subscribing to it in my component.

[2016-11-20 06:17] dotansimha commented on #31
If there is no data in the Mongo.Collection, then the changes events won't fire, and the `next` callback of the Observable won't fire.
You can use RxJS [startWith](https://github.com/Reactive-Extensions/RxJS/blob/master/doc/api/core/operators/startwith.md) operator in order to solve it:
[code]

[2016-11-20 20:18] pavlokitdev opened #33 "Integration with 'collection-helpers'"
Hello and thanks for nice lib!

Is any way to use 'collection-helpers' module
( https://atmospherejs.com/dburles/collection-helpers )
with meteor-rxjs?
Thanks!

[2016-11-21 10:00] dotansimha commented on #33
Create all of you helpers, then use `MongoObservable.fromExisting` in order to wrap the **instance** of the collection.

Example:
[code]

[2016-11-21 10:00] #33 closed

[2016-11-21 13:17] pavlokitdev commented on #33
@dotansimha thanks!

[2016-11-22 16:37] grkov90 opened #35 "ObservableCollection methods silent when meteor library throw sync error"
Meteor package "allow-deny" in file allow-deny.js:162 throws sync error before creating observer in observers array in https://github.com/Urigo/meteor-rxjs/blob/master/src/ObservableCollection.ts#L132 line.

And console silent....

For example run code on client: Tags.update({key: tag}, {$inc: {count: inc}}, {upsert: true});

[2016-11-23 14:25] #31 closed

[2016-11-23 14:27] dotansimha commented on #35
@grkov90
Yeah the console is silent because the is throws in the `Observable` content, which means you need to handle it on you subscription (the second argument of `subscribe` is the error handler)

[code]

[2016-11-23 14:29] grkov90 commented on #35
I tried it as well = - \

[2016-11-24 15:02] sosnet opened #40 ""Maximum call stack size exceeded" when passing objects via MeteorObservable.call()"
I get the error `Maximum call stack size exceeded` when I call `MeteorObservable.call('updateSpot', spot)`.

`spot` is an object of

[code]
[code]

When I call `MeteorObservable.call('updateSpot', {_id: 123, test: 456})` I get no error..
I'm in an Ionic2 project.

[2016-11-24 15:22] sosnet commented on #40
Ok, when I empty the actions array `spot.actions = []` before calling it's working. Is it my error?

[2016-11-25 09:25] dotansimha commented on #40
Yeah it might be the error. please try to `JSON.stringify` you object in client side and see what happens. you might have a circular JSON object.

[2016-11-28 17:08] sosnet commented on #40
Thx, that was the problem. Had a circular JSON object.

[2016-11-28 17:08] #40 closed

[2016-12-02 16:15] ijager opened #43 "Repeated identical subscription use case not handled"
I am using the meteor-rxjs API in an Angular Service like in the snippet below. The function returns an Observable holding all results for a certain query. Since the query may be different every time this function is called, we need to do the subscription every time to make sure the correct documents are synced with the client.

[code]

While the query can be different, it can also be identical to

[2016-12-08 18:57] sosnet opened #46 "Get _id of an newly inserted Item"
Hey, I'm not able to get out the _id after I insert a new item to my meteor-db.
My code looks like this:
Server:
[code]
Client:
[code]

Can you please tell me how to get the `_id`?
I also posted here: http://stackoverflow.com/questions/41040730/ionic2-meteor-get-id-of-new-inserted-item

[2016-12-08 22:04] sosnet commented on #46
Ok, error was on the server-side. Items.**collection**.insert(...) is correct. So not a problem of MeteorObservable, sorry.

[2016-12-08 22:04] #46 closed

[2016-12-10 00:03] veeramarni opened #47 "collection.insert not working when using SimpleSchema"
I was testing insert and tried to perform subscribe to do some async action. But when using `SimpleSchema` it won't work but without it works.

Is this a limitation or bug?
[code]

I would like to do something
[code]

[2016-12-10 00:29] veeramarni commented on #47
I have noticed `subscribe` working only when there isn't any error in the insert. Otherwise, I don't even capture in the error function.

[2016-12-12 18:53] dotansimha commented on #47
`insert` implemented as Observable, and you need to perform `subscribe` in order to execute the actual insert.
Please try:
[code]

[2016-12-12 19:45] veeramarni commented on #47
I'm using `redux-observable` in addition to meteor-rxjs, so I don't subscribe there.I have noticed issue when validation fails, it don't throw the error and also don't return anything.

[2016-12-12 19:52] veeramarni opened #49 "How to do nested data?"
Hi,

I want to modify the collection further querying different collection(nested). How to achieve it?

Collections
----
[code]
I do publishComposite at server end and i need to receive same data at client.
[code]

But not receiving the data I need.

[2016-12-14 05:42] dohomi opened #50 "Missing typings on Subscription"
Hey Guys,
I'm getting:
  `Property 'added' is missing in type 'Subscription'`
 `Property 'unsubscribe' does not exist on type 'Subscription'`
notifications in my console. Is there anything missing in my typing? I added
`/// <reference types="meteor-typings" />`
Thanks Dominic

[2016-12-14 05:54] dohomi commented on #50
Sorry forget this issue... I forgot the import statement of `import { Subscription } from 'rxjs/Subscription';`. All works as expected!

[2016-12-14 05:54] #50 closed

[2016-12-18 09:54] dotansimha commented on #49
@veeramarni, as far as I understood, you have two streams (two Meteor collections), and each one has his own data, and you want to merge them into a single stream? If so, you can use `combineLatest` operator to combine the data and return a single stream.
We have some examples for that in angular-meteor.com tutorials for merging streams:
https://angular-meteor.com/tutorials/socially/angular2/searc

[2016-12-18 09:54] dotansimha commented on #47
@veeramarni, can you share a repository with an example?

[2016-12-20 18:13] greenkeeper[bot] opened #56 "An in-range update of zone.js is breaking the build 🚨"
## Version **0.7.4** of [zone.js](https://github.com/angular/zone.js) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/Urigo/meteor-rxjs/compare/greenkeeper%2Fzone.js-0.7.4">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      zone.js
    </td>
  </tr>
  <tr>
    <th align=left>
      Curre

[2016-12-21 07:29] #56 closed

[2016-12-29 06:07] jerradpatch opened #64 "Proposal, tighter integration"
Hello,

I have been using MeteorObservable for a while (much better than Meteor.find). However, to get data from a publication (particularly one that takes an input variable to select results) I have to "subscribe to the publication", .subscribe to a MeteorObservable. On destroy, I have to unsubscribe to the publication and MeteorObservable. When desiring new results, I need to subscribe two times

[2016-12-29 06:28] jerradpatch commented on #64
What would be a limitation? I'm not talking about doing away with subscriptions, just subscribing to data this isn't in the local. With this proposal, the data on the local would be returned immediately and then server fetches the rest (just like a find does now).

[2016-12-29 08:32] dotansimha commented on #64
@jerradpatch , can you provide an example?

My meaning was that when `find` also do the subscription to the data, it will couple the publication of the data to the collection.

[2016-12-29 23:19] jerradpatch commented on #64
The use case would be a large database with a lot of shared data, that I would not want a client to have entirly on their local db. Subscriptions work great when I have data the is distinct to groups of users or a single user, b/c then I can just subscribe to it all and call finds on the local all day. However for the large shared collection subscriptions actually create more overhead (previously

[2017-01-12 18:09] ijager opened #72 "ObservableCollection.upsert() returns wrong type"
The [docstring](https://github.com/Urigo/meteor-rxjs/blob/ad59ccdedf81c1bbe67c524656a40059377ace9d/src/ObservableCollection.ts#L202) says:

`@returns {Observable<{numberAffected, insertedId}>} Observable which completes with an
     *  Object that contain the keys numberAffected and insertedId.`

However the return value is ` let obs = this._createObservable<number>(observers);`

So either there i

[2017-01-17 21:25] jalalat opened #74 "How to make it work with ValidatedMethod"
I am using https://github.com/meteor/validated-method for creating and calling Meteor methods. Is it possible to convert ValidatedMethod using this package?

[2017-01-17 21:52] jalalat commented on #74
Found it. Was very simple:

 MeteorObservable.call("Validated Method name", credentials).subscribe((response) => {
            // Handle success and response from server!
        }, (err) => {
            // Handle error
        });

[2017-01-17 21:52] #74 closed

[2017-01-24 23:21] jafonseca commented on #16
I am having this issue as well. Were you able to find a resolution for this? After reviewing the `Observable ` definition below, it seams like the `forEach` function should only be expecting a single instance not an array. This looks like an error.

https://github.com/Reactive-Extensions/RxJS/blob/master/doc/api/core/operators/subscribe.md

[2017-01-25 22:57] msio777 opened #78 "querying data by toggling on client"
Hi,

I just wanna querying data (all checked (true and false) data are publish on client) by toggling checked variable but I get data just for the first time actually by initialization ( `getData()` is also placed in `ngOnInit()` wrapped by `MeteorObservable.subscribe` ) and never more by toggling. What Am I doing wrong ?
Thanks for any help
Michal

[code]

[2017-01-26 09:15] msio777 commented on #78
Actually it is working but If no tasks are found, subscribe is not fired. I'd expect that result is will be empty array. Why is it so ?
Thanks

[2017-01-26 20:40] jycouet opened #79 "findOne when not ready => undefinded"
Hi,

I'm facing an issue with findOne function.
Yes, when the subscription is not ready, the function return undefined.

Should we wait subscriptionReady for a findOne Operation?
Or I'm going in the wrong direction?

Let me know :)
Thank you

[2017-01-30 21:05] theobalkwill commented on #16
Similar issue here, accessing to the items property inside a forEach gives the following typescript error:
"Property 'propertyName' does not exist on type Item[]"

However I can still access the property.

Any suggestion on how to get rid of that error?
Should I modify the .d.ts? Or should I access the item's property in a different way?
My code looks something similar to this:

[code]

[2017-01-31 09:41] jycouet commented on #79
Everything is wrapped in a:
[code]
I was taking the result only if DDP._allSubscriptionsReady() is true... but I found that sometime  DDP._allSubscriptionsReady() is true and the findOne returns undefined! (I'm sure it's not undefined)

Could you help me? :)

[2017-01-31 09:55] jycouet commented on #78
Hi,
I have the same issue. I don't know how to handle it.

[2017-01-31 10:04] msio777 commented on #78
My solution was that every time before getData() was called, I empty array and If Task.find will be called array will be filled else array is empty.

[2017-01-31 11:50] jycouet commented on #78
Thx for your comment.
On my side, I would like to insert in the bd something when the result of the query is 0... So I can't go with your solution.

I found something else, did you try to wrap your code in:
[code]

It look like it's working for me!

[2017-02-02 12:20] msio777 commented on #78
unfortunately it is not working for me :(

[2017-02-02 19:22] jycouet commented on #78
@msio777 you set a publication from the server?
It worked for me after that!

[2017-02-05 21:35] msio777 commented on #78
solution is `startWith`
`Tasks.find({checked: this.checked}).startWith([]).map(tasks => tasks.length).subscribe(todoCount => console.log(todoCount));
}`

[2017-02-14 07:05] greenkeeper[bot] opened #81 "An in-range update of zone.js is breaking the build 🚨"
## Version **0.7.7** of [zone.js](https://github.com/angular/zone.js) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/Urigo/meteor-rxjs/compare/greenkeeper%2Fzone.js-0.7.7">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      zone.js
    </td>
  </tr>
  <tr>
    <th align=left>
      Curre

[2017-02-14 19:36] greenkeeper[bot] opened #82 "An in-range update of babel-runtime is breaking the build 🚨"
## Version **6.23.0** of [babel-runtime](https://www.npmjs.com/package/babel-runtime) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/Urigo/meteor-rxjs/compare/greenkeeper%2Fbabel-runtime-6.23.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      babel-runtime
    </td>
  </tr>
  <tr>

[2017-02-16 13:54] cubitworx opened #83 "Understanding the expected behaviour of MeteorObservable.call()"
I was wondering if there was a particular reason that `MeteorObservable.call()` is implemented using `Observer.create()`?

I would like to make multiple subscriptions to the observable returned by `MeteorObservable.call()`. However, doing this causes the function passed to `Observable.create(subscribe: Function)` inside `MeteorObservable.call()` to be called each time the `Observable.subscribe()`

[2017-02-17 10:47] cubitworx commented on #83
For anyone else interested... for now I have implemented the following which meets my needs:
[code]
_You could just as easily give the method another name and still keep access to the original call method_

[2017-02-17 11:40] muehle28 opened #84 "Zone.js 0.7.4 - View not updating"
The code inside the callback of a MongoObservable subscription is not updating the view. Its working when I put zone.run(). Before the update I used v0.6 without problems.

[2017-02-17 19:20] greenkeeper[bot] opened #85 "An in-range update of @types/chai is breaking the build 🚨"
## Version **3.4.35** of [@types/chai](https://www.npmjs.com/package/@types/chai) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/Urigo/meteor-rxjs/compare/greenkeeper%2F%40types%2Fchai-3.4.35">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @types/chai
    </td>
  </tr>
  <tr>
    <t

[2017-02-20 22:34] msio777 opened #86 "fire MeteorObservable.subscribe in offline"
Hi,

If client is offline `MeteorObservable.subscribe` won't fire and `Collection.find() `inside of `MeteorObservable.subscribe` won't fire too. How can I achieve that `Collection.find() ` will fire every time ?
e.g.
[code]
thanks
Best Regards
Michal

[2017-02-21 22:22] greenkeeper[bot] opened #87 "An in-range update of @types/meteor is breaking the build 🚨"
## Version **1.3.32** of [@types/meteor](https://www.npmjs.com/package/@types/meteor) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/Urigo/meteor-rxjs/compare/greenkeeper%2F%40types%2Fmeteor-1.3.32">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @types/meteor
    </td>
  </tr>
  <tr

[2017-03-01 16:57] slindeneau commented on #16
It appears to me to be incorrect as well. You can fix the error if you are sure that your dataset is going to be relatively small by calling .fetch() on the cursor.

[code]

[2017-04-06 09:08] activeperception commented on #84
I have the same problem (but doesn't seem related to zone.js version, things are still broken with 0.7.3 and 0.7.2)

Furthermore a map operator is not invoked. E.g.

[code]

the map operator is SKIPPED (no console.log) if I use zone()

I'm wondering why there aren't more people tripping into this issue.

[2017-04-06 09:14] activeperception commented on #84
Found a workaround. Moved the .zone() to the MeteorObservable.subscribe. E.g.

[code]

[2017-04-09 07:56] cubitworx commented on #83
It seems my understanding of Observables was limited and the reason it has been done this way (as a 'cold Observable') is because there is no guarantee that subscribers won't miss the first data received from the server if the call is made before the subscribers are attached. However unlikely it might be that data will be 'lost' considering the delay in receiving data over the wire it still cannot

[2017-04-09 07:56] #83 closed

[2017-04-13 06:00] jerradpatch opened #92 "client find, server added->ready->changed does not trigger query update"
maybe I am misunderstanding how find should with with RXJS in Meteor.

if I have this on the client
[code]

and this on the server
[code]

shouldn't the 'this.changed' trigger the find results to return the updated model in the find query? However, I am only ever receiving the initial model from 'this.added'.

Thanks

[2017-04-13 06:39] jerradpatch commented on #92
cant even seem to get the changed doc even if I call,

[code]

[2017-04-23 16:48] Zeioth opened #93 "Support for multiple databases"
When I don't separate meteor from the client I access to multiple databases using

    var database = new MongoInternals.RemoteCollectionDriver("<mongo url>");
    MyCollection = new Mongo.Collection("collection_name", { _driver: database });

So there's any way to access multiple databases from the client using meteor-build-client?
I have to create methods, or there is an easier way?

[2017-04-24 21:21] rwdietrich opened #94 "Unexpected TypeError: Cannot read property 'apply' of undefined"
I'm getting an exception and don't understand why. The sample code is cut down from the original, but the line in question starts `let subscription=`. This code is within a method so only occurs on the server side.

The failing line within Meteor subscribe():
`return Meteor.subscribe.apply(Meteor, [name].concat(args.concat([{...`

Here's the exception and traceback:

    Exception while invoking m

[2017-04-25 09:31] rwdietrich commented on #94
As pointed out in another forum, the issue is that subscribes are not needed in methods. Correcting the code to

`let item: MyItem = MyCollection.findOne(selector);`

My misunderstanding.

[2017-04-25 09:31] #94 closed

[2017-05-08 02:48] jerradpatch commented on #31
I personally expected it to return an empty array when nothing was in the collection or at least a null. Is there a reason why it doesn't do this by default?

[2017-05-30 16:10] clitetailor commented on #25
First, i think this is ok but then i think this API is stupid (sorry for saying this). For example:

[code]

[2017-05-30 16:27] clitetailor commented on #25
First, I think this ok but now i think the API is quite stupid (sorry for this). For example:

[code]

[code]

Why i have to subscribe and unsubscribe twice to get the data or in better example:

[code]

Why we have to query data twice, what is the meaning of publishing here?. We have already subscribe a listener, why can't we just get data directly from the cursor or from the listener instead of

[2017-06-03 18:18] jerradpatch opened #95 "Subscribing in subscription loses inner subscription"
I am not 100% sure where to go with this one (but pretty sure its meteor-rxjs), or even if I am doing something wrong.

I have an outer subscription that is waiting on the user to login, then triggers an inner subscription that fetches data for the logged in user.

The issue is that the find for the inner subscription does not return the data. I know the objects are in the local mongo. I know the

[2017-06-04 06:27] jerradpatch commented on #95
I believe this was an issue with Hot and cold observables, and the data was coming back before I had subscribed.

[2017-06-04 06:27] #95 closed

[2017-06-21 08:41] monstrfolk opened #96 "Angular 2.4"
Observables do not update on client using angular 2.4 and rxjs greater than 5.0.1. Has anyone else experienced this issue?

[2017-07-06 11:50] activeperception opened #98 "Subscription readiness - how to call ready() in autorun?"
Hi,

To run arbitrary code when a subscription changes I've always used the snippet at `https://guide.meteor.com/data-loading.html#readiness` ?

It leverages the fact that "ready()" is a reactive data source.

How do I achieve the same with meteor-rxjs ?

Thanks,
 Raffaele

[2017-07-19 13:10] Raichel opened #99 "Working with Angular2 app inside an iframe"
Following the example in "Usage in Angular 2" section, when the app is running inside an iframe. The response of the subscribed collection records arrives to the client, but the observable map (or zone) function is not being called. is there any limitation on working inside an iframe?

[2017-07-19 16:43] #99 closed

[2017-08-10 19:48] ansaries commented on #98
[code]

[2017-08-10 22:17] ansaries opened #100 "Collection.find().zone() not updating zone when server is making changes in collection"
Not Working code:

[code]

Only possible solution I found is below:
[code]

Why the things: Observable<THING[]> is not updating the view upon changes from the server, however, it is updating only on the new records.

[2017-08-24 12:31] pierremez opened #101 "Rxjs operators on MongoObservable.Collection"
Hi there,

I am struggling to find a way to use the last() rxjs operator on some MongoObservable.Collection like this:

[code]

There is no results logged, if some of you have met the same issue

[2017-09-06 11:57] atd commented on #31
I agree with @jerradpatch Otherwise, there is no way to distinguish between the two cases (data isn't loaded yet vs data is loaded but empty)

It is needed to avoid showing users the empty placeholders in lists, which is confusing (user sees a notice saying that her list is empty, and then the list populates with data)

There is a pull request fixing it https://github.com/Urigo/meteor-rxjs/pull/10

[2017-09-13 04:59] #87 closed

[2017-09-13 04:59] #85 closed

[2017-09-13 04:59] #82 closed

[2017-09-13 04:59] #81 closed

[2017-09-13 04:59] #84 closed

[2017-09-14 17:18] dotansimha commented on #43
Fixed in 0.4.8

[2017-09-14 17:18] #43 closed

[2017-10-05 19:04] JanvanCasteren commented on #17
This is an old discussion, but since I struggled with this as well, I will post my solutions here. I put as much of the Meteor-specific code in data services, so I won't have to change much in components when would decide to move away from Meteor.

My collection:

[code]
My service:
[code]

[code]

and the components template:
[code]

[2017-10-15 03:31] IamCarbonMan opened #152 "MeteorObservable.call does not seem to be working"
I have a method that returns an EJSON array (which is returned by a `Cursor.fetch()` call), which works like so:

    Meteor.call("search", {}, console.log)

but does not work like so:

    MeteorObservable.call("card_search", {}).subscribe(console.log)

In the first example, an Array is logged to the console, in the second, the console shows `undefined`.

[2017-10-31 21:01] darkbasic commented on #35
Closing due to inactivity and cleanup.
Feel free to open a new issue if you are still affected.

[2017-10-31 21:01] #35 closed

[2017-10-31 21:01] darkbasic commented on #47
Closing due to inactivity and cleanup.
Feel free to open a new issue if you are still affected.

[2017-10-31 21:01] #47 closed

[2017-10-31 21:02] #49 closed

[2017-10-31 21:04] darkbasic commented on #64
Closing due to inactivity and cleanup.

[2017-10-31 21:04] #64 closed

[2017-10-31 21:05] #78 closed

[2017-10-31 21:08] darkbasic commented on #96
Closing due to inactivity and cleanup.
Feel free to open a new issue if you are still affected.

[2017-10-31 21:08] #96 closed

[2017-10-31 21:11] darkbasic commented on #152
Can you please share a sample repository showing the issue?

[2017-10-31 23:13] IamCarbonMan commented on #152
Closing because I couldn't seem to reproduce the issue once I created a simple example.

[2017-10-31 23:13] #152 closed

[2017-11-08 09:00] megaslimegod opened #185 "ERROR in ./node_modules/rxjs/observable/BoundCallbackObservable.js"
I get this error when building in Angular 5.0 with Angular CLI 1.5 using --prod flag.

The issue is misaligned Observable and Subject import in MeteorObservable.js, ObservableCursor.js, and zone.js and ObservableCollection.js

Change imports to;

import { Observable } from 'rxjs/Observable';
import { Subject } from 'rxjs/Subject';
import { Subscriber } from 'rxjs/Subscriber';

Seen here; https://g

[2017-11-08 09:13] PascalTemel commented on #185
Importing from 'rxjs/Observable' will break webSocket functionality

[2017-11-08 10:48] megaslimegod commented on #185
Odd, because it seems to work.  How will it break it?

If I don't maek these changes, I cannot do "ng build --prod" because I get "ERROR in ./node_modules/rxjs/observable/BoundCallbackObservable.js..."

[2017-11-08 11:25] PascalTemel commented on #185
I know about the error and your fix does help, but if you want to use Observable.webSocket, importing from rxjs/Observable does not work. It SHOULD behave the same way as it does when you import from rxjs/Rx, but for some reason it doesn't.

I fixed the issue I had by upgrading to typescript 2.6.1. The production build will work with that typescript version, even if you import from rxjs/Rx

[2017-11-25 17:01] Orad commented on #72
InsertedId is what makes upsert worthy , no sense to drop it and return only the number of affected rows.
Any progress with this one?

[2017-11-26 20:49] michaelb-01 opened #189 "Cannot find namespace"
I'm getting the following errors, any idea how to resolve it?

ERROR in api/node_modules/meteor-rxjs/dist/MeteorObservable.d.ts(123,34): error TS2503: Cannot find namespace 'Tracker'.
api/node_modules/meteor-rxjs/dist/ObservableCollection.d.ts(3,19): error TS2503: Cannot find namespace 'Mongo'.
api/node_modules/meteor-rxjs/dist/ObservableCollection.d.ts(4,19): error TS2503: Cannot find namespace '

[2017-11-26 21:22] michaelb-01 commented on #189
This is my package.json:

{
  "name": "pipe6",
  "version": "0.0.0",
  "license": "MIT",
  "scripts": {
    "ng": "ng",
    "start": "webpack-dev-server --port=4200",
    "build": "webpack",
    "meteor-client:bundle": "meteor-client bundle -s api",
    "server": "export MONGO_URL=mongodb://michaelb01:yellow01@ds013564.mlab.com:13564/pipe && cd api && meteor",
    "test": "karma start ./karma.conf

[2017-12-10 17:56] mbtechnologyil commented on #189
anyone?

[2018-01-05 17:09] YamanSehzade commented on #189
+1

[2018-01-09 20:11] pedrolucasoliva opened #196 "There is a way to do this?"
Im trying to insert insert a new Entity (document) at mongo, but before I need call a meteor method to catch some sequence to it:
[code]
I have been in trouble with the return of Observable<string>.
Someone did it before?

ps:
this.collection = export const Entities = new MongoObservable.Collection<Entity>("entities");

[2018-01-15 09:42] hongan126 commented on #189
Check your tsconfig.json, need exclude 'api/node_modules':
`{
  "compileOnSave": false,
  "compilerOptions": {
    "outDir": "./dist/out-tsc",
    "sourceMap": true,
    "baseUrl": ".",
    "declaration": false,
    "module": "commonjs",
    "moduleResolution": "node",
    "emitDecoratorMetadata": true,
    "experimentalDecorators": true,
    "target": "es5",
    "skipLibCheck": true,
    "stripIn

[2018-01-19 12:46] impcyber commented on #196
Try `this.collection.collection.insert`

[2018-03-07 13:18] Monierv opened #204 "Mongo is not defined"
Hi !
I'm having the error 'Mongo is not defined'
[code]
Someone got the same issue ?

[2018-03-29 21:41] katusiky opened #210 "Using dburles:collection-helpers package"
I want use dburles:collection-helpers package but i get error in frontend:

`ERROR in ../api/server/collections/carts.ts(22,18): error TS2339: Property 'helpers' does not exist on type 'Collection<Cart>'.`

[2018-04-07 16:33] janKir opened #211 "Does this work with RxJS 6?"
I'm thinking about to migrate my Angular-Meteor app to Angular 6 and hence RxJS 6, so I'm wondering if this library is compatible? Regarding to the [RxJS Update Guide](https://docs.google.com/document/d/12nlLt71VLKb-z3YaSGzUfx6mJbc34nsMXtByPUN35cg/preview), the `rxjs-compat` package in milestone 2 works for all libraries which depend on rxjs 5.5. Unfortunately, this library has a peer dependency o

[2018-04-28 11:30] JanvanCasteren opened #213 "No support for ValidatedMethods (method 'objects')"
Thanks for this library I use  it together with meteor-client-bundler and Angular and it works very well.

Method MeteorObservable.call only supports calling methods by passing a string. But when ValidatedMethods are used, methods are imported as objects with a call() method. I wrote my own implementation for this, maybe you could integrate something like that in your library:

[code]

[2018-05-04 20:59] janKir commented on #211
I believe it would only need a pipable `zone()` method to be compatible. Should not be too hard to implement, I guess...

[2018-05-05 07:47] ymchun commented on #211
@janKir yes, also need to fix rxjs import

[2018-05-06 14:43] #211 closed

[2018-05-06 14:53] ardatan commented on #211
Incompability issues with RxJS and RxJS-Compat package is solved in the new release.
Feel free to open a new issue if you are still experiencing this problem.
Thank you!

[2018-05-06 14:59] ymchun commented on #211
@ardatan your fix save my day! I've tried new release but still got this error
`Property 'zone' does not exist on type 'ObservableCursor<>'. Did you mean '_zone'?`

Thanks a lot

[2018-05-06 15:01] ardatan commented on #211
@ymchun Your welcome!
Try this;
[code]

[2018-05-15 20:18] ardatan commented on #210
It is not related to `meteor-rxjs` package. Typings are missing for that package.

[2018-05-15 20:18] #210 closed

[2018-05-22 11:42] lgleim opened #224 "ObservableCollections are not an instance of Observable"
[code]

Kind of a mind bending issue given that ObservableCursor directly extends Observable (https://github.com/Urigo/meteor-rxjs/blob/master/src/ObservableCursor.ts#L7).

We first became aware of the issue by using Angular Material, which internally verifies the type of data sources as follows: https://github.com/angular/material2/blob/master/src/cdk/table/table.ts#L669

Any ideas?

[2018-05-30 14:31] Slavrix opened #227 "Suggestion: MeteorObservable passing through observables"
Currently, I've run into an issue where I have an observable on my server side (which is created from Rx.Observable.bindNodeCallback).
When I try to return this observable in a Meteor.Method (not subscribing to it on the server, returning the whole observable) and call it using MeteorObservable.call(<methodname>) on the client I get back an object, that looks like it is an observable( {isScalar:fa

[2018-05-30 17:27] ardatan commented on #224
`meteor-rxjs` has been updated by using this DOCUMENTATION for RxJS 6. That's why, you have to import `Observable` from `rxjs` not `rxjs/Observable`.

[2018-05-30 17:27] #224 closed

[2018-06-06 07:08] weini01 commented on #204
Hi,
I also have a Problem with mongo since the last update (update from 0.4.7 to 0.4.13)
I´m on Meteor 1.7.0.1 with mongo 1.5.0 and rxjs 6.1.0. and got the following Error:
`... /dev_bundle/server-lib/node_modules/fibers/future.js:280
throw(ex);
Error: Cannot find module 'meteor/mongo'
at Function.Module._resolveFilename (module.js:547:15)
at Function.Module._load (module.js:474:25)
at Module.requ

[2018-06-06 08:03] vnavarroingenia commented on #204
Hi,

I have the same issue using  1.7.0.1

[2018-06-06 15:17] mrz5018 commented on #204
I'm having the same issue, without upgrading to 1.7.0.1.  I am thinking that it popped up when I updated angular to V6.x and rxjs to V6.x.  Not sure it it's either of those things, but I don't think it's specifically Meteor 1.7.

[2018-06-06 15:19] ymchun commented on #204
I have this problem since version 0.4.12

[2018-06-06 20:21] vnavarroingenia commented on #204
Hi @ardatan,
It works now for me using Meteor 1.7.0.1 and Angular 6.
Thanks!

[2018-06-06 21:01] #204 closed

[2018-06-11 22:28] ardatan commented on #196
RxJS observables won't fire unless you subscribe them. So, this is not an issue related to `meteor-rxjs`.
You can try to do like below;
[code]
Note that; the mutation on external variable inside `map`is not recommended because it will be side effect. You can learn more using RxJS Documentation.

[2018-06-11 22:28] #196 closed

[2018-08-13 15:05] KeithGillette opened #230 "ObservableCollection.d.ts: error TS2314: Generic type 'Selector' \ 'Modifier' requires 1 type argument(s)."
Updating an Angular 6.1.2 project with `rxjs@6.2.2` to `meteor-rxjs@0.4.14` produces the following errors in combination with `@types/meteor@1.4.16` when transpiling under `typescript@2.9.2`
[code]

Reverting to `@types/meteor@0.4.14` corrects the issue.

Whose typings are correct?

[2018-11-20 15:27] kombadzomba opened #239 "IE11 syntax error"
There is syntax error when running on IE11 for back quote \` symbols in `throwInvalidCallback` method starting from version `0.4.12`. Had to downgrade to `0.4.11` in order to work.

[2018-12-11 09:09] jashka34 commented on #189
You need add to tsconfig.json section _types_ like that:

`{
  "compilerOptions": {
    "module": "commonjs",
    "target": "ES5",
...
    "types": [
      "node", // <---optional here
      "meteor-typings" // <---here
    ]
  },
...
}
`
_node_ - optional

[2018-12-14 15:19] KeithGillette opened #240 "Use outside of Meteor?"
Is there a way to use `meteor-rxjs` outside of a Meteor application, allowing use of RxJS with MongoDB cursors? I suppose the question amounts to, can the `Mongo.Collection` Meteor Atmosphere package be extracted to be used outside of Meteor?

[2019-01-22 23:07] KeithGillette commented on #230
Update: I still receive these same errors when running `tsc` with latest releases:

- typescript@3.2.4
- angular@7.2.2
- rxjs@6.3.3
- meteor-rxjs@0.4.14
- @types/meteor@1.4.24

Reverting to @types/meteor@1.4.14 corrects the issue.

[2019-01-29 22:52] YamanSehzade commented on #230
Hi @KeithGillette ,
I am using  `"@types/meteor": "^1.4.14",`

On my localy everyting is OK. But when [NETLIFY ](https://www.netlify.com/)build this project i get same error....

Have you any opinion ? Thanks...

**This is deploy log;**

[code]

[2019-01-30 00:58] KeithGillette commented on #230
@YamanSehzade: It doesn't looked like you have pinned the version at 1.4.14, as the caret in front of the version number will allow installations of [newer semver "compatible" versions](https://docs.npmjs.com/misc/semver#caret-ranges-123-025-004). Check the actual installed version with `npm list @types/meteor`. I recommend removing the caret and reinstalling:
`npm install --save-exact --save @typ

[2019-01-30 07:59] YamanSehzade commented on #230
thanks @KeithGillette, it worked

[2019-03-08 17:48] renovate[bot] opened #242 "Action required: Add a Renovate config"
Hi,

You will need to add a config to this repository if you want Renovate  to continue creating PRs. Renovate will soon begin skipping all repositories that don't have a valid config found, even if you've received PRs before.

To keep functionality exactly the same, you can add an empty JSON config (`{}`) to your repo in any of the following files: `renovate.json`, `.github/renovate.json`, `.reno

[2019-04-08 18:52] viniciusvitti opened #243 "Problem with property zone"
Property 'zone' does not exist on type 'ObservableCursor<OpinionModel>'.

I'm facing this problem when trying to run an application, anyone knows whats this can be?

Thanks!

[2019-11-07 15:07] domq opened #244 "ObservableCursor aliases all lists it passes to callbacks"
There is only one `_this._data` array per `ObservableCursor`, that gets passed around by reference to all `_observers` every time `_handleChange` runs. As a result, downstream consumers that try to filter out null changes (such as Angular's `| async` pipe, which relies on [`WrappedValue`](https://angular.io/api/core/WrappedValue)) get confused, as they compare old and new values by keeping a refer

[2019-11-07 16:28] domq opened #246 "Hidden dependency on underscore.js"
Running the master branch of `meteor-rxjs` in a Meteor 1.9.3 project (that doesn't explicitly use the `underscore` package) results in the following server-side stack trace:

[code]

Adding `underscore` to `.meteor/packages` makes the problem go away.

It is worth noting that [Meteor doesn't use underscore anymore these days](https://forums.meteor.com/t/referenceerror-is-not-defined-how-to-fix/440

[2019-11-19 16:50] domq opened #248 "No way to recover if ObservableCollection#insert() fails synchronously"
In the case where `ObservableCollection#insert` fails synchronously (e.g. when attempting to insert into a collection that has a [simpl-schema](https://github.com/Meteor-Community-Packages/meteor-collection2)), the following code should catch the error:

[code]

Unfortunately it doesn't, because the error will have run its course even before `.insert()` returns and the `.pipe()` has a chance to be

[2019-11-19 16:54] domq commented on #248
A workaround is to not use `ObservableCollection#insert` and use a plain old callback on the plain old `Mongo.Collection` object, i.e.

[code]

[2020-05-12 11:36] JanvanCasteren opened #249 "support for higher version than angular 7"
I have some projects in which I use meteor-rxjs.
Last update I did I remember I had to stick to angular 7, because of imcompatibility of meteor-rxjs with rxjs version 6.4 and up.

Does anyone have plans to look into this? I have some serious applications running with meteor-rxjs and I am willing to take part in the maintenance.

The point is that I see a lot of different branches and no new releas

[2020-06-23 10:42] JanvanCasteren commented on #249
No answer so far.

Does than mean that there is no active maintainer at this moment for this repository?

[2020-08-12 06:17] millerg6711 commented on #249
@Urigo Any updates on this?

I really would like to use Ionic 5 which uses angular 8+.

[2020-09-15 23:06] KeithGillette opened #250 "Linting errors with zone.js >= v0.11.0"
Attempting to update to zone.js >= v0.11.0 produces the following errors:
[code]

[2020-09-23 21:41] KeithGillette commented on #249
Same question as @JanvanCasteren on package maintainer. [The NPMJS latest release of `0.4.14` is now 2 years old](https://www.npmjs.com/package/meteor-rxjs/v/0.4.14) and that release now has multiple incompatibilities with other libraries, as this and other open issues document. If there were Contribution Guidelines and knowledgeable reviewers, I'd be happy to contribute small fixes to keep the li

[2020-09-24 02:37] millerg6711 commented on #249
Here's his current state of the project, he dm'd back on twitter.